<!-- Navbar Start -->
<!-- <div class="container-fluid bg-light position-relative shadow">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a href="" class="navbar-brand font-weight-bold text-secondary" style="font-size: 50px">
      <i class="flaticon-043-teddy-bear"></i>
    </a> -->
    <!-- <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
      <div  class="navbar-nav font-weight-bold mx-auto py-0">
      </div> -->
      <!-- </div>
      </nav>
    </div> -->
    <!-- Navbar End -->
<button mat-raised-button color="primary" (click)="openDialog()">Add</button>
<div class="card-container">
  <div class="card" *ngFor="let item of arr">
    <mat-card>{{item.name}}
    <button class="cardss" (click)="onButtonClick(item)" mat-raised-button color="warn">Click me</button>
    <ul>
      <li *ngFor="let val of item.sets" [style.color]="val.color">{{val.name}}</li>
    </ul>
    </mat-card>
    <!-- <div class="card-container">
      <div class="card" *ngFor="let val of sets">
        {{val.addItem}}
      </div>
    </div> -->
  </div>
</div>

<!-- <input type="number" (keypress)="restrictNumeric($event)"> -->

<!-- <p>Hello</p>
<button (click)="check()">check</button> -->